<ion-header>
    <ion-navbar>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <form #addRemindForm="ngForm" class="add-clientele-remind full-form" novalidat>
        <ion-list>
            <button [disabled]="mode=='delay'" ion-item (tap)="choose()" *ngIf="type=='clientele'" [ngClass]="{'invalid':addRemindForm.submitted && clientele==undefined}">
                <ion-label>选择客户</ion-label>
                <ion-note [ngClass]="{'active':clientele}" item-end>{{clientele?clientele.name:'选择客户'}}</ion-note>
            </button>
            <ion-item [ngClass]="{'invalid':(addRemindForm.controls.title?.touched || addRemindForm.submitted) && addRemindForm.controls.title.invalid}">
                <ion-label>提醒标题</ion-label>
                <ion-input name="title" maxlength="15" [disabled]="mode=='delay'" [(ngModel)]="formData.title" required placeholder="请输入标题"></ion-input>
            </ion-item>
            <button ion-item [ngClass]="{'invalid':(addRemindForm.controls.time?.touched || addRemindForm.submitted) && addRemindForm.controls.time.invalid}">
                <ion-label>提醒时间</ion-label>
                <ion-datetime name="time" [(ngModel)]="planRemindTime" required placeholder="请选择提醒时间" pickerFormat="YYYY-MM-DD HH:mm" cancelText="取消"
                    [min]="minTime" doneText="确定"></ion-datetime>
            </button>
            <info-input [ngClass]="{'invalid':(addRemindForm.controls.content?.touched || addRemindForm.submitted) && addRemindForm.controls.content.invalid}"
                [disabled]="mode=='delay'" [(ngModel)]="infoContent" #infoInput (inputFoucs)="openInputPanel()" (inputBlur)="hideInputPanel()"
                name="content" (voiceBarClick)="voiceBarClick()"></info-input>
        </ion-list>
        <button class="large" *ngIf="mode!='delay'" ion-button block round (tap)="done()" [disabled]="addRemindForm.invalid||(!clientele&&type==='clientele')">创建</button>
        <button class="large" *ngIf="mode=='delay'" ion-button block round (tap)="delay()">确认</button>
    </form>
    <ion-input-panel [hidden]="mode=='delay'" [disabled]="mode=='delay'" #inputPanel (textInput)="textInput()" (recordInput)="recordInput()"
        (deleteClick)="deleteClick($event)" (recordEnd)="recordEnd($event)"></ion-input-panel>
</ion-content>
