page-change-password {
	.full-form {
		.list-ios {
			margin: 0;
		}
		.list {
			.item {
				border-bottom: $border;
				padding-left: 1rem;
				background-color: #fff;
				&.invalid {
					border-bottom: 0.55px solid color($colors,danger);
				}
				.tip {
					color: color($colors,danger);
				}
				.item-inner {
					border-bottom: none;
					input {
						text-align: left;
					}
					// .input-wrapper {
					//     display: flex;
					//     flex-direction: row;
					// }
				}
				&:last-child {
					border-bottom: $border;
				}
			}
		}
	}
	.forget {
		display: flex;
		flex-direction: row-reverse;
		.button {
			.button-inner {
				font-size: rem(30);
				line-height: rem(66);
			}
		}
	}
	.submit {
		width: 100%;
		margin-top: rem(44);
		display: flex;
		justify-content: center;
		.button {
			width: calc(100% - #{rem(60)});
		}
	}
}
