<ion-header>
	<ion-navbar>
		<ion-title>修改密码</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<form class="main-wrapper full-form" [formGroup]="ngForm" novalidate>
		<ion-list>
			<ion-item [ngClass]="{'invalid':(old.touched && old.invalid)}">
				<ion-input [(ngModel)]="formData.oldPassword" type="password" placeholder="旧密码" formControlName="old"></ion-input>
				<ion-note class="tip" *ngIf="old.touched && old.errors && old.errors.required" item-end>请输入旧密码！</ion-note>
				<ion-note class="tip" *ngIf="old.touched &&old.errors && old.errors.minlength" item-end>请输入至少6位密码！</ion-note>
			</ion-item>
			<ion-item>
				<ion-input [(ngModel)]="formData.newPassword" type="password" placeholder="新密码" formControlName="new"></ion-input>
				<ion-note class="tip" *ngIf="new.touched && new.errors && new.errors.required" item-end>请输入新密码！</ion-note>
				<ion-note class="tip" *ngIf="new.touched && new.errors && new.errors.minlength" item-end>请输入至少6位密码！</ion-note>
				<ion-note class="tip" *ngIf="new.touched && !new.errors && (old.value == new.value)" item-end>新密码不能和旧密码相同！</ion-note>
			</ion-item>
			<ion-item>
				<ion-input type="password" placeholder="确认密码" formControlName="affirm"></ion-input>
				<ion-note class="tip" *ngIf="affirm.touched && affirm.errors && affirm.errors.required" item-end>请再次输入新密码！</ion-note>
				<ion-note class="tip" *ngIf="affirm.touched && affirm.errors && affirm.errors.minlength" item-end>请输入至少6位密码！</ion-note>
				<ion-note class="tip" *ngIf="affirm.touched && !affirm.errors &&  (affirm.value != new.value)" item-end>两次新密码不一致！</ion-note>
			</ion-item>
		</ion-list>
	</form>
	<div class="forget" (tap)="toForgetPasswordPage()">
		<button ion-button clear>忘记密码?</button>
	</div>
	<div class="submit">
		<button ion-button round block (tap)="submit()">提交</button>
	</div>
</ion-content>
