<div class="ion-filter">
    <div class="filter-backdrop" [ngClass]="{'in':backIn}" *ngIf="showBack" (tap)="close()"></div>
    <div class="filter-bar">
        <div class="filter-item" *ngFor="let item of filterData;let i = index" [ngClass]="{'open':activeIndex == i && openPanel}"
            (tap)="open(i)">
            <span class="name" *ngIf="i==0 || (i!=0&&(!value || value.length==0 || !value[i].value))">{{item.name}}</span>
            <span class="name" *ngIf="i==1&&(value && value.length!=0 && value[i].value)">{{value[i].value | followStatus:'state'}}</span>
			<span class="name" *ngIf="i==2&&(value && value.length!=0 && value[i].value)">{{value[i].value | sortName}}</span>
            <i class="iconfont">&#xe683;</i>
        </div>
    </div>
    <div class="filter-panel" [ngClass]="{'show':openPanel}" #filterPanel>
        <div class="filter-item-container" *ngIf="layout==1">
            <div class="panel-item" *ngFor="let item of filterOpts?.options;let  i = index" (tap)="itemTap(item)" [ngClass]="{'active':value[activeIndex].value == item.value}">
                <span class="name">{{item.label}}</span>
                <i class="iconfont">&#xe640;</i>
            </div>
        </div>
        <div class="filter-item-container" *ngIf="layout==2">
            <div class="line-wrapper">
                <div class="panel-line" *ngFor="let item of filterOpts?.options;let  itemIndex = index">
                    <span class="name">{{item.tag}}</span>
                    <div class="tag-container">
                        <span class="tag" *ngFor="let tag of item.options;let tagIndex = index" (tap)="tagTap(itemIndex,tag)" [ngClass]="{'active':value[activeIndex]?.value && (value[activeIndex]?.value[itemIndex]?.value.indexOf(tag.label)>-1||value[this.activeIndex].value[itemIndex].value==tag.label)}">
                            {{tag.label}}
                        </span>
						<i class="no-tag" *ngIf="item.options.length==0">无</i>
                    </div>
                </div>
            </div>
            <div class="btn-wrapper">
                <div class="btn" (tap)="tagReset()">
                    重置
                </div>
                <div class="btn on" (tap)="tagFilter()">
                    筛选
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="filter-panel" [ngClass]="{'show':openPanel}" [hidden]="layout==1">

    </div> -->
</div>
