<div class="ion-filter">
    <div class="filter-backdrop" [ngClass]="{'in':backIn}" *ngIf="showBack" #backdrop (tap)="close()"></div>
    <div class="filter-bar">
        <div class="filter-item" *ngFor="let item of filterData;let i = index" [ngClass]="{'open':activeIndex == i && openPanel}"
            (tap)="open(i)">
            <span class="name">{{item.name}}</span>
            <i class="iconfont">&#xe683;</i>
        </div>
    </div>
    <div class="filter-panel" [ngClass]="{'show':openPanel}" [hidden]="layout==2">
        <div class="panel-item" *ngFor="let tag of filterOpts.options">
            <span class="name" [ngClass]="{'active':value[activeIndex].value == tag.value && openPanel}" (click)="itemClick(tag)">{{tag.label}}</span>
            <i class="iconfont">&#xe640;</i>
        </div>
    </div>
    <div class="filter-panel" [ngClass]="{'show':openPanel}" [hidden]="layout==1">
        <div class="line-wrapper">
            <div class="panel-line" *ngFor="let item of filterOpts.options">
                <span class="name">{{item.tag}}</span>
                <div class="tag-container">
                    <span class="tag" *ngFor="let tag of item.options">
                        {{tag.label}}
                    </span>
                </div>
            </div>
        </div>
        <div class="btn-wrapper">
            <div class="btn">
                重置
            </div>
            <div class="btn on">
                筛选
            </div>
        </div>
    </div>
</div>