page-contacts {
	.content {
		.scroll-content {
			background-color: #fff;overflow: hidden;
			&::-webkit-scrollbar {
				display: none;
			}
			.list-wrapper {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 3.2rem;
				overflow-y:auto;
				overflow-x:hidden;
				&::-webkit-scrollbar{
					display: none;
				}
			}
			.alpha-sidebar {
				background-color: #fff;
				height: 100%;
				position: absolute;
				width: 4rem;
				display: flex;
				padding: 3rem 0;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				top: 0;
				right: 0;
				z-index: 999;
				li {
					width: 100%;
					display: flex;
					justify-content: center;
					font-size: 1.2rem;
				}
			}
		}
	}
	.contacts-list {margin: 0;
		.item {
			background-color: #fff;
			&.item-divider {
				background-color: #f5f5f5;text-align: left;
				.label {
					margin: 0;
					height: 2.9rem;
					line-height: 2.9rem;
					font-size: 1.5rem;
					color: color($colors,dark);
				}
			}
			&.active{
				.item-inner{position: relative;
					&:after{
						position: absolute;right: 1rem;
						@extend .iconfont;
						content: '\e640';color: color($colors,primary);font-size: 2.4rem;
					}
				}
			}
		}
	}
	.alpha-letter-indicator {
		-webkit-transition: opacity 150ms ease-in-out;
		transition: opacity 150ms ease-in-out;
		opacity: 1;
		border-radius: 10px;
		background-color: rgba(0, 0, 0, 0.4);
		position: fixed;
		left: 50%;
		margin-left: -50px;
		top: 50%;
		margin-top: -50px;
		width: 100px;
		height: 100px;
		color: #fff;
		display: flex;
		display: none;
		justify-content: center;
		align-items: center;
		font-size: 5em;
		z-index: 999;
	}
}
