<ion-header>
	<ion-navbar>
		<ion-title>我的通讯录</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>
	<section class="list-wrapper" #wrapper>
		<ion-list class="contacts-list" #list>
			<ion-item-group *ngFor="let group of sortedItems;let $index = index">
				<ion-item-divider id="scroll-letter-{{group.letter}}">
					{{group.letter}}
				</ion-item-divider>
				<ion-item *ngFor="let item of group.children">
					{{item.displayName}}
				</ion-item>
			</ion-item-group>
		</ion-list>
	</section>
	<ul class="alpha-sidebar" #sidebar>
		<li *ngFor="let alpha of alphabet" [hidden]="!alpha.isExist">
			<a>{{alpha.letter}}</a>
		</li>
	</ul>
	<div class="alpha-letter-indicator" #letterIndicatorEle></div>
	<!-- <ion-alpha-scroll *ngIf="formatContacts.length>0" [listData]="formatContacts" key="initial" [itemTemplate]="alphaScrollItemTemplate" [currentPageClass]="currentPageClass"></ion-alpha-scroll> -->
</ion-content>
<!-- <ng-template #alphaScrollItemTemplate let-item="item" let-currentPageClass="currentPageClass">
	<ion-item (click)="currentPageClass.onItemClick(item)">
		<h2>{{item?.displayName}}</h2>
	</ion-item>
</ng-template> -->
