<ion-header>
	<ion-navbar>
		<ion-title>我的通讯录</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>
	<section class="list-wrapper" #wrapper>
		<ion-list class="contacts-list" #list>
			<ion-item-group *ngFor="let group of sortedItems;let $index = index">
				<ion-item-divider id="scroll-letter-{{group.letter}}">
					{{group.letter}}
				</ion-item-divider>
				<ion-item [ngClass]="{'active':person?.displayName==item?.displayName}" *ngFor="let item of group.children" (click)="onItemClick(item)">
					{{item.displayName}}
				</ion-item>
			</ion-item-group>
		</ion-list>
	</section>
	<ul class="alpha-sidebar" #sidebar>
		<li *ngFor="let alpha of alphabet" [hidden]="!alpha.isExist">
			<a>{{alpha.letter}}</a>
		</li>
	</ul>
	<div class="alpha-letter-indicator" #letterIndicatorEle></div>
</ion-content>
