<ion-content [ngClass]="{'no-result':record.length===0}">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-round-down" pullingText="下拉刷新" refreshingText="刷新中..."></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item class="record-item" *ngFor="let item of record" (tap)="itemClick(item)">
            <em class="top-line"></em>
            <div class="record-content">
                <h3>
                    <div class="start">
                        <span class="time">
                            <em></em>
                            <i>{{item?.createTime | moment:'HH:mm'}}</i>
                        </span>
                        <span class="title">{{item?.title}}</span>
                    </div>
                    <span class="date">{{item?.createTime | moment:'YYYY/MM/DD ddd'}}</span>
                </h3>
                <div class="record-info">
                    <p class="operater">{{item?.onwer?.name}}</p>
                    <p class="operat-content">{{item?.content}}</p>
                </div>
                <div class="record-img-container" *ngIf="item?.pics.length>0">
                    <img *ngFor="let item of item.pics" [src]="item | getImg:'x200'">
                </div>
            </div>
        </ion-item>
    </ion-list>
    <button class="large" ion-button block round (tap)="add()">写入跟进记录</button>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="currentPage<=totalPages">
        <ion-infinite-scroll-content loadingText="加载更多..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>