<ion-content [ngClass]="{'no-result':reminds.length===0}">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-round-down" pullingText="下拉刷新" refreshingText="刷新中..."></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item class="remind-item" *ngFor="let remind of reminds">
            <em class="top-line"></em>
            <div class="remind-content">
                <h3>
                    <div class="start">
                        <span class="time">
                            <em></em>
                            <i>{{remind?.planRemindTime | date:'HH:mm'}}</i>
                        </span>
                        <span class="title">{{remind?.title}}</span>
                    </div>
                    <span class="date">{{remind?.planRemindTime | date:'yyyy/MM/dd E'}}</span>
                </h3>
                <p class="clientele-info" *ngIf="remind.type==='CUSTOMER'">
                    <span class="start">{{remind?.customer?.post}}</span>
                    <span>{{remind?.customer?.company}}</span>
                </p>
                <div class="remark">
                    <div class="remark-text">
                        {{remind.content}}
                    </div>
                    <div class="remark-img-container">
                        <img src="http://img.zcool.cn/community/014f945aff15a6a801218cf4e9dea3.jpeg@260w_195h_1c_1e_1o_100sh.jpg">
                        <img src="http://img.zcool.cn/community/014f945aff15a6a801218cf4e9dea3.jpeg@260w_195h_1c_1e_1o_100sh.jpg">
                        <img src="http://img.zcool.cn/community/014f945aff15a6a801218cf4e9dea3.jpeg@260w_195h_1c_1e_1o_100sh.jpg">
                        <img src="http://img.zcool.cn/community/014f945aff15a6a801218cf4e9dea3.jpeg@260w_195h_1c_1e_1o_100sh.jpg">
                    </div>
                    <div class="remark-voice-container">
                        <voice-bar></voice-bar>
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="currentPage<=totalPages">
        <ion-infinite-scroll-content loadingText="加载更多..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>