<ion-item-sliding>
    <ion-item class="clientele-item" detail-push (tap)="itemClick(data.id)">
        <div class="progress" [ngClass]="data.followStatus | followStatus:'class'">
            <div class="left-wrapper">
                <div class="line"></div>
            </div>
            <div class="right-wrapper">
                <div class="line"></div>
            </div>
            <span class="state">
                {{data.followStatus | followStatus:'state'}}
            </span>
        </div>
        <div class="clientele-detail">
            <h3 class="name">
                <span>{{data.name}}</span>
                <i class="main-tag" *ngIf="data.label">{{data.label}}</i>
            </h3>
            <p class="company">
                <span class="post">{{data.post}}</span>
                <span>{{data.company}}</span>
            </p>
            <div class="tag-container">
                <i class="tag-item" *ngFor="let tag of labels">{{tag}}</i>
            </div>
        </div>
        <ion-buttons item-end>
            <button class="message" clear ion-button icon-only (tap)="message(data.phone)">
                <i class="iconfont">
                    &#xe67e;
                </i>
            </button>
            <button class="phone" clear ion-button icon-only (tap)="phone(data.phone)">
                <i class="iconfont">
                    &#xe67b;
                </i>
            </button>
        </ion-buttons>
    </ion-item>
    <ion-item-options side="right" class="item-options">
        <button class="remind" color="warning" ion-button (click)="itemRemind(data)">
            <span>设置</span>
            <span>提醒</span>
        </button>
        <button ion-button color="danger" (click)="itemDelete(data.id)">
            删除
        </button>
    </ion-item-options>
</ion-item-sliding>