page-follow-postil {
	.clientele-item {
        background-color: #fff;
        &.item {
            .item-inner {
                border-bottom: none;
            }
        }
    }
	.remind-item {
        margin-top: 1rem;
        background-color: #fff;
        padding-bottom: 1.6rem;
    }
	.postil-form{
		margin-top: 1rem;
	}
	.no-return{
        .item-wrapper {
            .remind-item.item {
                .item-inner {
                    border-bottom: none;
                }
            }
        }
    }
	.info-input-warpper{
		.accessory{
			display: none;
		}
	}
}
