page-forget-password {
	.login-form{margin-top: rem(46);
		.new-user{line-height: rem(88);font-size:rem(30);text-align: center;}
		.forget-paw{position: fixed;bottom:0;height: rem(142);display: flex;justify-content: space-between;align-items: center;padding: 0 rem(30);width: 100%;font-size:rem(30);
			.agreement{display: flex;justify-content: space-between;align-items: center;
				.checkbox{margin-right: rem(10);}
				.label{padding:0;font-size:rem(30);}
			}
		}
	}
    .main-form {
        .item {
            padding-left: 0;
            min-height: 4rem;
            .item-inner {
                border-bottom: none;
                .input {
                    height: 100%;
                    border-bottom: $border;
                    display: flex;
                    align-items: center;
                    input {
                        margin: 0;
                        font-size: rem(30);
                    }
                }
            }
        }
        .label {
            margin: 0;
            padding: 0;
            .iconfont {
                font-size: rem(60);
            }
        }
        .button {
            max-width:100%;
            margin: 0 auto;
        }
        .submit {
            margin-top: rem(100);
        }
        .btn-wrapper{
            border-bottom: $border;
            padding:0;
            margin: 0;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}
