// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: '../assets/fonts';
@import "./assets/css/base";
@import "./assets/css/icon";
@import "./assets/css/app";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
// Shared Variables

@import "roboto";
@import "noto-sans";
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
//Sass Variables
$font-size-base:						1.2rem;
$hairlines-width:						0.55px;
$background-color:						color($colors, bg);
$tabs-background:						#fff;
$button-ios-border-radius:				2.2rem;
$button-md-border-radius:				$button-ios-border-radius;
$button-ios-height:						4.4rem;
$button-md-height:						$button-ios-height;
$button-ios-margin:						0;
$button-md-margin:						$button-ios-margin;
$button-ios-font-size:					1.8rem;
$button-md-font-size:					$button-ios-font-size;
$toolbar-background:					color($colors, primary);
$toolbar-ios-background:				color($colors, primary);
$toolbar-md-background:					color($colors, primary);
$text-color:							color($colors, font);
$tabs-ios-tab-text-color:				#888;
$tabs-md-tab-text-color:				$tabs-ios-tab-text-color;
$action-sheet-ios-button-min-height:	auto;
$list-border-color:						color($colors, border);
$tabs-ios-tab-icon-size:				2.4rem;
$label-md-text-color:					color($colors, dark);
$toolbar-ios-border-color:  			transparent;
$toolbar-ios-title-font-weight: 		normal;
$datetime-ios-placeholder-color:		color($colors, gray);
$datetime-md-placeholder-color:			$datetime-ios-placeholder-color;
$text-input-placeholder-color:			color($colors, gray);
$select-ios-placeholder-color:          $text-input-placeholder-color;
$select-md-placeholder-color:           $text-input-placeholder-color;

$item-ios-body-text-font-size:			1.5rem;
$item-ios-note-color:                   color($colors, gray);
$note-ios-color :                       color($colors, gray);
$note-md-color:                         $note-ios-color;

$searchbar-ios-background-color:        color($colors, primary);
$searchbar-md-background-color:         $searchbar-ios-background-color;


$toast-ios-background:                  rgba(0, 0, 0, .7);
$toast-md-background :                  $toast-ios-background;



$item-ios-detail-push-svg:              "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'><path d='M291.0654683 998.05596972a44.18690634 44.18690634 0 0 1-31.24428529-75.43119165L670.44458023 512 259.82118301 101.37522193a44.18690634 44.18690634 0 0 1 62.48857061-62.4885706l441.86906337 441.86906337a44.18690634 44.18690634 0 0 1 0 62.4885706l-441.86906337 441.86906337A44.04882225 44.04882225 0 0 1 291.0654683 998.05596972z' fill='#{color($colors,light)}'/></svg>";
$item-md-detail-push-show:               true;
$item-md-detail-push-svg:                $item-ios-detail-push-svg;
