<div class="info-input-warpper">
    <div class="remark-container">
        <!-- <p class="hint" (tap)="openInputPanel()">点击输入提醒文字备注或语音备注</p> -->
        <textarea class="remark-input" (focus)="textareaFocus($event)" (blur)="textareaBlur($event)" type="text" *ngIf="!isRecord"
            maxlength="150" [(ngModel)]="inputValue" [disabled]="disabled" (ngModelChange)="textareaInput()" [placeholder]="placeholder"
            #remarkInput [id]="id" [name]="name" [ngStyle]="textareaStyle"></textarea>
        <div class="voice-bar-wrapper" (tap)="voiceBarTap($event)" *ngIf="isRecord">
            <voice-bar *ngIf="innerValue?.audio" [data]="innerValue?.audio"></voice-bar>
            <p class="placeholder" *ngIf="!innerValue?.audio">{{placeholder}}</p>
        </div>
    </div>
    <div class="accessory">
        <div class="accessory-list">
            <div class="imgs-container">
                <div class="img-item" [ngClass]="{'disabled':disabled}" *ngFor="let item of innerValue?.pics;let i =index">
                    <img [src]="item | getImg:'200'" (tap)="viewImg(i)">
                    <i class="delete iconfont" (tap)="deleteImg(i)">&#xe681;</i>
                </div>
            </div>
            <!-- <span class="hint">上传成功</span> -->
        </div>
        <a class="upload iconfont" (tap)="chooseImage()" [hidden]="disabled">&#xe685;</a>
    </div>
</div>
