info-input {
    .info-input-warpper {
        background-color: #fff;
        padding: 0 1rem;
        border-bottom: $border;
    }
    &.invalid{
        .info-input-warpper {
            border-color:color($colors,danger);
        }
    }
    .remark-container {
        padding: 1rem 0;
        p {
            line-height: 2.4rem;
            margin: 0;
            white-space: normal;
        }
        .text-remark {
            @include text-overflow();
            max-height: 6rem;
        }
        .remark-input {
            border: none;
            background-color: transparent;
            font-size: 1.4rem;
            width: 100%;
            resize: none;
            line-height: 2.4rem;
            min-height: 2.4rem;
            height: auto;
            &::-webkit-input-placeholder {
                color: color($colors, light);
                opacity: 1;
            }
			&[disabled]{
				opacity: .4;
			}
        }
        .voice-bar-wrapper {
            height: 2.4rem;
			.placeholder{
				line-height: 2.4rem;
                color: color($colors, light);
				font-size: 1.4rem;
			}
        }
        .hint {
            color: color($colors, gray);
        }
    }
    .accessory {
        display: flex;justify-content: space-between;
        .accessory-list {
            margin-top: 1.2rem;
            width: calc(100% - 3rem);
            display: flex;
            align-items: center;
            justify-content: space-between;
            .imgs-container {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }
            .img-item {
                position: relative;
                height: rem(114);
                border: $border;
                margin-bottom: rem(24);
                margin-right: 1rem;
                img {
                    height: 100%;
                }
                .delete {
                    @include flex-center();
                    width: rem(28);
                    height: rem(28);
                    color: #fff;
                    background-color: color($colors, danger);
                    position: absolute;
                    right: rem(-14);
                    top: rem(-14);
                    border-radius: 50%;
                    font-size: 1rem;
                }
				&.disabled{
					.delete {
						display: none;
					}
				}
            }
            .hint {
                display: inline-block;
            }
        }
        .upload {
            align-self: flex-end;
            @include flex-center();
            justify-content: flex-end;
            width: 3rem;
            height: rem(84);
            color: color($colors, primary);
            font-size: 3rem;
        }
    }
}
