<div class="ion-input-panel" [ngClass]="{'open':panelOpen}" [ngStyle]="panelStyle" hidden>
	<div class="handle-bar">
		<div class="handle-item" (click)="text($event)" [ngClass]="{'active':!isRecord}">
			<i class="iconfont">&#xe635;</i>
			<span>文字</span>
		</div>
		<div class="handle-item" (click)="record($event)" [ngClass]="{'active':isRecord}">
			<i class="iconfont">&#xe67f;</i>
			<span>语音</span>
		</div>
	</div>
	<div class="input-panel" [hidden]="!isRecord || !panelOpen">
		<div class="record-wrapper" [ngClass]="{'complete':complete}">
			<div class="record">
				<i class="iconfont main-icon" [ngClass]="{'recording':recording}" (touchstart)="clockStart()" (touchend)="clockStop()">&#xe671;</i>
				<p>按住录音</p>
			</div>
		</div>
		<div class="play-record-wrapper" [ngClass]="{'complete':complete}">
			<div class="play-record">
				<i class="iconfont main-icon" *ngIf="!playing" (tap)="play($event)">&#xe684;</i>
				<i class="iconfont main-icon playing" *ngIf="playing" (tap)="stop($event)">&#xe636;</i>
				<i class="iconfont delete" (tap)="delete($event)">&#xe66e;</i>
			</div>
		</div>
	</div>
</div>
