<ion-header>
	<ion-navbar>
		<div *ngIf="!isCompany" class="date-now" (tap)="goToady()">
			<span>{{today | date:'yyyy-MM-dd'}}</span>
			<i class="iconfont">&#xe675;</i>
		</div>
		<span *ngIf="isCompany" class="nav-title">任务</span>
		<ion-buttons end>
			<button ion-button="ion-button" icon-only="icon-only" (tap)="wantDelete()">
				<span *ngIf="hideTabs">完成</span>
				<i *ngIf="!hideTabs" class="iconfont">&#xe66e;</i>
			</button>
		</ion-buttons>
	</ion-navbar>
	<div class="filter-bar-wrapper" *ngIf="isCompany" [ngClass]="{'filter-ios':plt.is('ios'),'filter-md':plt.is('android')}">
		<div class="filter-backdrop" [ngClass]="{'in':backIn}" *ngIf="showBack" (tap)="filterPanelClose()"></div>
		<div class="filter-bar">
			<div class="filter-item" [ngClass]="{'open':filterLayout == key && openPanel}" *ngFor="let key of filterValues | objKeys;" (tap)="filterPanelToggle(key)">
				<span class="name">
					{{filterValues[key].label}}
				</span>
				<i class="iconfont">&#xe683;</i>
			</div>
		</div>
		<div class="filter-panel" [ngClass]="{'show':openPanel}" #filterPanel>
			<div class="filter-item-container" [hidden]="filterLayout!=key" *ngFor="let key of filterOpts | objKeys;">
				<div class="panel-item" *ngFor="let item of filterOpts[key];" (tap)="filterItemTap(key,item)" [ngClass]="{'active':filterValues[key]?.value == item.value}">
					<span class="name">{{item.label}}</span>
					<i class="iconfont">&#xe640;</i>
				</div>
			</div>
		</div>
	</div>
</ion-header>
<ion-content class="remind-list-container" [ngClass]="{'hide-tabs':hideTabs,'fold':fold,'no-result':reminds.length===0}" (touchmove)="touchmove($event)" (touchend)="touchend($event)">
	<ion-calendar *ngIf="!isCompany" [ngClass]="{'fold':fold}" [(ngModel)]="activeDay.value" (onChange)="dayChange($event)" (monthChange)="monthChange($event)" [format]="'YYYY-MM-DD'" [options]="calendarOpt">
	</ion-calendar>
	<p *ngIf="!isCompany" class="fold-bar" (click)="foldCalendar($event)">
		<i class="iconfont" *ngIf="!fold">&#xe67c;</i>
		<i class="iconfont" *ngIf="fold">&#xe674;</i>
	</p>
	<div class="avtive-day-bar-wrapper" *ngIf="!isCompany">
		<div class="avtive-day-bar">
			<div class="control" (tap)="prevDay()" [ngClass]="{'disabled':prevDayDisabled}">
				<i class="iconfont">&#xe661;</i>
				<span>上一天</span>
			</div>
			<span class="avtive-day">{{activeDay.display}}</span>
			<div class="control" (tap)="nextDay()">
				<span>下一天</span>
				<i class="iconfont">&#xe613;</i>
			</div>
		</div>
	</div>
	<ion-content class="scroll-container" [ngClass]="{'clear-list':isCompany}" #scrollContainer>
		<ion-refresher (ionRefresh)="doRefresh($event)">
			<ion-refresher-content pullingIcon="arrow-round-down" pullingText="下拉刷新" refreshingText="刷新中..."></ion-refresher-content>
		</ion-refresher>
		<ion-list>
			<remind-item *ngFor="let item of reminds;let $index = index" class="" [ngClass]="{'has-handle':hideTabs,'done':item.isDone,'pitch-on':deleteIds.indexOf(item.id)>-1,'time-out':item.isExpired}" [remind]="item" [index]="$index" (delete)="delete($event)" (postil)="itemPostil($event);"
			    (goDelay)="goDelay()" (detail)="itemClick($event)"></remind-item>
		</ion-list>
		<ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="isHasNext">
			<ion-infinite-scroll-content loadingText="加载更多..."></ion-infinite-scroll-content>
		</ion-infinite-scroll>
	</ion-content>
	<div class="bottom-bar" *ngIf="hideTabs">
		<div class="delete" (tap)="deleteBatch()">
			<i class="iconfont">&#xe66e;</i>
			<span>删除</span>
		</div>
		<div class="check-all" [ngClass]="{'active':deleteIds.length === reminds.length}" (tap)="selectAll()">
			<i class="iconfont">&#xe640;</i>
			<span>全选</span>
		</div>
	</div>
	<button class="add-remind" [ngClass]="{'draging':draging}" ion-button icon-only (tap)="add()" (press)="press($event)" [ngStyle]="addBtnStyle">
		<ion-icon name="add"></ion-icon>
	</button>
</ion-content>
