page-remind {
    .header {
        @extend .transition-02;
        &.blur{
            filter: blur(5px);
        }
    }
    ion-calendar{
        padding:0;
        .week-toolbar{
            font-size: 1.4rem;
            border-top: $border;
            border-bottom: $border;
            .week-title{
                li {
                    color: color($colors, light);
                }
            }
        }
    }
    .fold-bar{background-color: #fff;
        height: rem(40);@include flex-center();
        .iconfont {
            font-size: 1.4rem;
        }
    }
	.date-now{
		display: flex;align-items: center;color: #fff;padding-left: 1rem;font-size: rem(36);
		.iconfont{font-size:2.4rem;color:#fff;}
	}
	.hint{position: fixed;width: rem(200);height:rem(40);line-height:rem(40);display: flex;justify-content: center;align-items: center;top:30px;left:0;z-index: 999;background-color: #000;border-radius: rem(20);color:#fff;}
    
	.remind-list-container {
	    @include flex-center();
	    flex-wrap: wrap;
	    @extend .transition-02;
        &.blur {
            filter: blur(5px);
        }
        &>.scroll-content{overflow: hidden;}
        .scroll-container {
            height: calc(100% - 5rem);
            .scroll-content {
                margin-bottom: 0 !important;
            }
            .list {
                margin-top: 0;
                remind-item:first-child {
                    .item {
                        padding-top: 0;
                        .top-line {
                            display: none;
                        }
                    }
                }
            }
        }
        &.hide-tabs{
            .scroll-container {
                height: calc(100% - 5rem - 5rem);
            }
        }
		.avtive-day-bar{margin-top: 1rem;background-color: #fff;border-bottom:$border;width: 100%;
			height: rem(80);display: flex;justify-content: space-between;align-items: center;padding:0 1rem;
			.control{color:color($colors,light);display: flex;align-items: center;
				.iconfont{font-size: 1.6rem;}
			}
			.avtive-day{font-size: 1.6rem;}
		}
		
		&.no-result{
			&:before{
				height: rem(278);width:rem(310);@include flex-center();padding-top: rem(200);background: url('../../../assets/imgs/no-remind.png') no-repeat center 3rem;background-size: rem(200); content: '暂无提醒任务';font-size: rem(30);margin-top: rem(200);position: absolute;
			}
		}
	}
	.add-remind{position: fixed;right: 1rem;bottom:6rem;border-radius:50%;width: rem(100);height:rem(100);@include flex-center;font-size:2.4rem;z-index: 99;}
	.bottom-bar {
        z-index: 999;
	    width: 100%;
	    display: flex;
	    height: rem(100);
	    border-top: $border;
	    justify-content: space-between;
	    padding: rem(10) 0;
	    position: absolute;
	    bottom: 0;background-color:#fff;
		div{width: 50%;@include flex-center();  font-size: rem(36);
			.iconfont{font-size:3rem;margin-right: 1rem;}
		}
		.delete{color:color($colors,danger);border-right: $border;}
		.check-all{
			.iconfont{
				width: rem(44);height: rem(44);border-radius: 50%;@include flex-center();
				border: 2px solid color($colors,icon);font-size: 1.8rem;color:color($colors,icon);@extend .transition-02;
			}
			&.active{
				.iconfont{
					background-color: color($colors,warning);border-color:color($colors,warning);color:#fff;
				}
			}
		}
	}
}
