<ion-header>
	<ion-navbar>
		<ion-title>注册</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="main-form icon-form">
		<form [formGroup]="ngForm"  novalidate (ngSubmit)="signIn()">
			<ion-item >
				<ion-label>
					<i class="iconfont">&#xe65e;</i>
				</ion-label>
                <ion-input [ngClass]="{'invalid':(phone.touched && phone.invalid)}" (blur)="signInPhoneValid()" (input)="canRegister=false" formControlName="phone" [(ngModel)]="formData.phone" type="tel" placeholder="请输入您的手机/400号码" (ngModelChange)="phoneChange()"></ion-input>
                <ion-note class="tip error" *ngIf="phone.touched && phone.errors?.required" item-end>请输入手机号</ion-note>
                <ion-note class="tip error" *ngIf="phone.touched && phone.errors?.phone" item-end>请输入正确的手机号</ion-note>
                <ion-note class="tip success" *ngIf="phone.valid && showRegisterResult && canRegister" item-end>手机号码可以注册</ion-note>
                <ion-note class="tip error" *ngIf="phone.valid && showRegisterResult && !canRegister" item-end>{{registerResult}}</ion-note>
			</ion-item>
			<ion-item>
				<ion-label>
					<i class="iconfont">&#xe65c;</i>
				</ion-label>
				<ion-input [ngClass]="{'invalid':(password.touched && password.invalid)}" formControlName="password" [(ngModel)]="formData.password" type="password" placeholder="请输入您的密码"></ion-input>
                <ion-note class="tip error" *ngIf="password.touched && password.errors?.required" item-end>请输入密码</ion-note>
                <ion-note class="tip error" *ngIf="password.touched && password.errors?.minlength" item-end>请输入至少6位密码</ion-note>
			</ion-item>
			<ion-item>
				<ion-label>
					<i class="iconfont">&#xe65d;</i>
				</ion-label>
                <ion-input maxLength="4"  [ngClass]="{'invalid':(validCode.touched && validCode.invalid)}"  formControlName="validCode" [(ngModel)]="formData.validCode" type="number" placeholder="请输入验证码"></ion-input>
                <ion-note class="tip code-error" *ngIf="validCode.touched && validCode.errors?.required" item-end>请输入验证码</ion-note>
                <ion-note class="tip code-error" *ngIf="validCode.touched && (validCode.errors?.minlength || validCode.errors?.maxlength)" item-end>请输4位验证码</ion-note>
				<div class="get-code" item-end [ngClass]="{'code-error':((validCode.touched && validCode.errors?.required)||(validCode.touched && (validCode.errors?.minlength || validCode.errors?.maxlength)))}" *ngIf="showVerificationCode" >
					<button class="item-button" type="button" ion-button round (tap)="getCode()" [disabled]="phone.invalid || !canRegister">获取验证码</button>
				</div>
				<div class="get-code" [ngClass]="{'code-error':((validCode.touched && validCode.errors?.required)||(validCode.touched && (validCode.errors?.minlength || validCode.errors?.maxlength)))}" item-end *ngIf="!showVerificationCode" >
					<button class="item-button" type="button" ion-button round disabled="true">( {{time}} )</button>
				</div>
            </ion-item>
			<button class="large" type="submit" [disabled]="ngForm.invalid || !canRegister || showVerificationCode" ion-button block round>注册</button>
            <!-- <button type="button" ion-button full (tap)="change()">测试</button> -->
		</form>
	</div>
</ion-content>
