page-setting-record {
    .clientele-item {
        background-color: #fff;
        &.item {
            .item-inner {
                border-bottom: none;
            }
        }
    }
    .form-input-wrapper {
        margin-top: 1rem;margin-bottom: 0;
        &>.item-block:first-child {
            border-top: none;
        }
        &.no-remind {
            margin-top: 0;
        }
		.follow-postil{
			margin-bottom: 0;
			.info-input-warpper{
				border-bottom: $border;
			}
			.accessory{display: none;}
		}
    }
    .item-wrapper {
        .remind-item.item {
            margin-top: 1rem;
            background-color: #fff;
            padding-bottom: 1.6rem;
            .item-inner {
                border-bottom: none;
            }
        }
    }
	.no-border{
		.set-state{
			border-bottom: none;
		}
	}
    .set-state {
        margin-top: 1rem;
        border-bottom: $border;
    }
    .btn-wrapper {
        padding: 2rem 0;
        .button {
            margin: 0 auto;
        }
    }
    .next-follow-remind {
        margin-top: 1rem;
    }
    ion-item-group {
        .item {
            &:last-child {
                border: none;
            }
        }
        info-input {
            &:last-child {
                .info-input-warpper {
                    border: none;
                }
            }
        }
    }

}
