<ion-header>

	<ion-navbar>
		<span class="nav-title">设置</span>
		<ion-buttons end>
			<button ion-button icon-only clear (tap)="toSettingPage()">
				<i class="iconfont">
					&#xe678;
				</i>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>

<ion-content>
	<div class="main-wrapper">
		<button ion-item class="user-header" (tap)="toUserInfoPage()">
			<ion-avatar class="user-avatar" item-left>
				<img [src]="userInfo?.avatar | getImg:'200'">
			</ion-avatar>
			<div class="user-info">
				<p class="phone">{{ userInfo?.phone | phoneHideNumber}}</p>
				<div class="type-block">
					<p>{{userInfo?.type == 'NORAML'?'个人用户版':'企业版'}}【免费】</p>
				</div>
			</div>
		</button>
		<div class="user-list full-form">
			<ion-list>
				<ion-item-group>
					<button ion-item (tap)="toApplyEnterprisePage()">
						<button clear ion-button icon-only item-start>
							<i class="iconfont">&#xe677;</i>
						</button>
						<ion-label>申请企业版</ion-label>
						<ion-note item-end class="P-WAIT_CHECK" *ngIf="isWaitCheck">审核中</ion-note>
						<ion-note item-end class="P-CHECK_SUCCESS" *ngIf="isCheckSuccess">申请已通过</ion-note>
						<ion-note item-end class="P-CHECK_FAIL" *ngIf="isCheckFail">申请失败</ion-note>
					</button>
				</ion-item-group>
				<ion-item-group>
					<button ion-item (tap)="clienteleTag()" *ngIf="globalData.user.type == 'COMPANY'">
						<button clear ion-button icon-only item-start>
							<i class="iconfont">&#xe663;</i>
						</button>
						<ion-label>客户标签</ion-label>
					</button>
					<button ion-item (tap)="customTag()">
						<button clear ion-button icon-only item-start>
							<i class="iconfont">&#xe63d;</i>
						</button>
						<ion-label>自定义标签</ion-label>
					</button>
				</ion-item-group>
				<button ion-item (tap)="toAboutUsPage()">
					<button clear ion-button icon-only item-start>
						<i class="iconfont">&#xe670;</i>
					</button>
					<ion-label>关于我们</ion-label>
				</button>
				<button ion-item (tap)="toHelpPage()">
					<button clear ion-button icon-only item-start>
						<i class="iconfont">&#xe676;</i>
					</button>
					<ion-label>使用帮助</ion-label>
				</button>
				<button ion-item (tap)="toSettingPage()">
					<button clear ion-button icon-only item-start>
						<i class="iconfont">&#xe678;</i>
					</button>
					<ion-label>设置</ion-label>
				</button>
			</ion-list>

		</div>

		<div class="submit" hidden>
			<button ion-button round block *ngIf="isCheckSuccess && (userInfo?.type == 'NORAML')" (tap)="changeUserInfoType('COMPANY')">切换为企业版</button>
			<button ion-button round block *ngIf="userInfo?.type == 'COMPANY'" (tap)="changeUserInfoType('NORAML')">切换为个人版</button>
		</div>

	</div>

</ion-content>
