<ion-item-sliding>
    <ion-item class="remind-item">
        <em class="top-line"></em>
        <div class="remind-content">
            <h3>
                <div class="start">
                    <span class="time">
                        <em></em>
                        <i>{{remind?.planRemindTime | date:'HH:mm'}}</i>
                    </span>
                    <span class="title">{{remind?.title}}</span>
                </div>
                <span class="date">{{remind?.planRemindTime | date:'yyyy/MM/dd E'}}</span>
            </h3>
            <p class="clientele-info" *ngIf="remind.type==='CUSTOMER'">
                <span class="start">{{remind?.customer?.post}}</span>
                <span>{{remind?.customer?.company}}</span>
            </p>
            <div class="remark">
                <div class="remark-text">
                    {{remind.content}}
                </div>
                <div class="remark-img-container">
                    <img src="http://img.zcool.cn/community/014f945aff15a6a801218cf4e9dea3.jpeg@260w_195h_1c_1e_1o_100sh.jpg">
                    <img src="http://img.zcool.cn/community/014f945aff15a6a801218cf4e9dea3.jpeg@260w_195h_1c_1e_1o_100sh.jpg">
                    <img src="http://img.zcool.cn/community/014f945aff15a6a801218cf4e9dea3.jpeg@260w_195h_1c_1e_1o_100sh.jpg">
                    <img src="http://img.zcool.cn/community/014f945aff15a6a801218cf4e9dea3.jpeg@260w_195h_1c_1e_1o_100sh.jpg">
                </div>
                <div class="remark-voice-container">
                    <voice-bar></voice-bar>
                </div>
            </div>
            <i class="iconfont mark">
                &#xe640;
            </i>
        </div>
        <div class="return-wrapper" *ngIf="remind.comments&&remind.comments.length>0">
            <div class="return">
                <div class="return-from">
                    <div class="name-wrapper">
                        <span class="name">
                            <em></em>
                            <i>丁伟</i>
                        </span>
                    </div>
                    <div class="return-voice-container">
                        <voice-bar></voice-bar>
                    </div>
                </div>
            </div>
        </div>
        <div class="return-wrapper">
            <div class="return">
                <div class="return-from">
                    <div class="name-wrapper">
                        <span class="name">
                            <em></em>
                            <i>丁伟</i>
                        </span>
                    </div>
                    <span class="return-text">具体预算多少钱呢？具体预算多少钱呢具体预算多少钱呢具体预算多少钱呢具体预算多少钱呢</span>
                </div>
                <div class="return-img-container">
                    <img src="http://img.zcool.cn/community/014f945aff15a6a801218cf4e9dea3.jpeg@260w_195h_1c_1e_1o_100sh.jpg">
                    <img src="http://img.zcool.cn/community/014f945aff15a6a801218cf4e9dea3.jpeg@260w_195h_1c_1e_1o_100sh.jpg">
                    <img src="http://img.zcool.cn/community/014f945aff15a6a801218cf4e9dea3.jpeg@260w_195h_1c_1e_1o_100sh.jpg">
                    <img src="http://img.zcool.cn/community/014f945aff15a6a801218cf4e9dea3.jpeg@260w_195h_1c_1e_1o_100sh.jpg">
                </div>
            </div>
        </div>
    </ion-item>
    <ion-item-options side="right" class="item-options">
        <button class="delay" ion-button (click)="itemDelay($event)">
            <span>延时</span>
            <span>设置</span>
        </button>
        <button ion-button color="danger" (click)="presentConfirm($event)">
            删除
        </button>
    </ion-item-options>
</ion-item-sliding>
