page-search-result {
    .scroll-wrapper {
        height: calc(100% - 4.2rem);
    }

    .no-result {
        background-color: #fff;
        position: absolute;
        top: 4.2rem;
        left: 0;
        right: 0;
        bottom: 0;
        @include flex-center();
        flex-wrap: wrap;
        .no-result-tag {
            width: rem(350);
            @include flex-center();
            flex-wrap: wrap;
        }
        img {
            width: rem(310);
        }
        p {
            line-height: rem(86);
            font-size: rem(30);
            color: color($colors, light);
            width: 100%;
            text-align: center;
        }
        .add-clientele {
            margin-top: rem(82);
        }
    }

    .clientele-list {
        background-color: #fff;
        .item-options {
            .button {
                .button-inner {
                    line-height: rem(36);
                    font-size: 1.6rem;
                }
            }
        }
    }
}
