<ion-header>
    <ion-navbar>
        <ion-title>自定义标签</ion-title>
        <ion-buttons *ngIf="type=='edit'" end>
            <button ion-button icon-only clear (tap)="wantDelete()">
                <span *ngIf="deleteIng">完成</span>
                <i *ngIf="!deleteIng" class="iconfont">
                    &#xe66e;
                </i>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="tag-wrapper">
        <p class="hint">输入或选择自定义标签，可以多选个</p>
        <div class="tag-container">
            <span class="tag-item" *ngFor="let item of tags" (tap)="selectTag(item)" [ngClass]="{'active':tag?.length>0&&tag.indexOf(item.label)>-1,'del':deleteId==item.id}">{{item.label}}</span>
            <span class="new-tag" *ngIf="type=='edit'" (tap)="newTag()">
                <i class="iconfont">&#xe66d;</i>
            </span>
        </div>
        <button class="submit" *ngIf="!deleteIng && type!='edit'" ion-button block round (tap)="done()" [disabled]="tag?.length==0">确定</button>
        <button class="submit" *ngIf="deleteIng && type=='edit'" ion-button block round (tap)="confirm()" [disabled]="!deleteId">删除</button>
    </div>
</ion-content>
