<ion-header>
    <ion-navbar>
        <span class="nav-title">客户</span>
        <ion-buttons end>
            <button ion-button icon-only (tap)="search()">
                <i class="iconfont">
                    &#xe673;
                </i>
            </button>
            <button ion-button icon-only (tap)="add()">
                <i class="iconfont">
                    &#xe66c;
                </i>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-filter (panelHidden)="filterHide($event)">
    </ion-filter>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-round-down" pullingText="下拉刷新" refreshingText="刷新中..."></ion-refresher-content>
    </ion-refresher>
    <div class="no-result" *ngIf="clienteles.length==0&&currentPage!=1">
        <div class="no-result-tag">
            <img src="../../../assets/imgs/no-clientele.png" />
            <p>暂无重要客户</p>
            <button class="add-cl˚ientele" ion-button block round>添加客户</button>
        </div>
    </div>
    <ion-list class="clientele-list" *ngIf="clienteles.length!=0&&currentPage!=1">
        <clientele-item (details)="itemDetails($event)" (delete)="itemDelete($event)" (remind)="itemRemind($event)" *ngFor="let item of clienteles;let i = index"
            [data]="item" [index]="i"></clientele-item>
    </ion-list>
    <p class="no-more" *ngIf="currentPage>totalPages&&clienteles.length!=0">没有更多了</p>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="currentPage<=totalPages">
        <ion-infinite-scroll-content loadingText="加载更多..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<!--<ion-select interface="popover" [(ngModel)]="value" placeholder="标签筛选" [selectOptions]="selectOptions">
	<ion-option *ngFor="let opt of opts" [value]="opt.val">{{opt.name}}</ion-option>
</ion-select>-->