page-clientele {
    .header{
        .btns{
            @include flex-center();
            .iconfont{
                @include flex-center();
            }
        }
    }
    .clientele-list{
        .item{
            padding-left:rem(142);
            .item-inner{
                .progress{
                    position: absolute;top:1rem;
                    width: rem(96);height: rem(96);
                    border-radius:50%;
                    border:2px solid color($colors,border);
                    .test{
                        position: absolute;left:-2px;top:-2px;
                        width: calc(100% + 4px);
                        height: calc(100% + 4px);
                        border: 2px solid #000;border-radius:50%;
                    }
                    div{
                        position: absolute;
                        top:-2px;
                        height: calc(100% + 4px);
                        overflow: hidden;
                    }
                    .line{
                        width: calc(200% + 4px);
                        border-radius: 50%;
                        border-width: 2px;
                        border-style: solid;
                        border-color: transparent;
                        transform: rotate(-135deg);
                    }
                    .left-wrapper{
                        left:-2px;
                        width: calc(50% + 4px);
                        .line{
                            left:0;
                            border-left-color:color($colors,primary);
                            border-bottom-color:color($colors,primary);
                            transform: rotate(45deg);
                        }
                    }
                    .right-wrapper{
                        right:-2px;
                        width: 50%;
                        .line{
                            right:0;
                            border-right-color:color($colors,primary);
                            border-top-color:color($colors,primary);
                            transform: rotate(45deg);
                        }
                    }
                }
                .label{
                    margin:0;
                    .name{
                        height:rem(66);display: flex;align-items: center;font-size:rem(30);margin-bottom: 0;
                        .main-tag{
                            @include round-tag('small',color($colors,primary));margin-left: 1rem;
                        }
                    }
                    .company{height:rem(28);line-height: rem(28);color:color($colors,light);@extend .fn-text-overflow;margin-bottom: 0;
                        font-size:1.2rem;
                    }
                    .tag-container{
                        min-height: rem(66);display: flex;align-items: center;flex-wrap: wrap;max-height: rem(132);
                        .tag-item{
                            @include round-tag('small');
                            margin-right: 1rem;
                        }
                    }
                }
            }
            .bar-buttons[item-end]{margin:0;
                .button[icon-only]{
                    .iconfont{
                        font-size: 2.5rem;
                    }
                    &:last-child{
                        margin-left: 1rem;
                    }
                }
            }
        }
        .item-options{
            .button{
                .button-inner{line-height:rem(36);font-size:1.6rem;}
            }
        }
        
    }
}
