page-clientele {
    .header{
        .btns{
            @include flex-center();
            .iconfont{
                @include flex-center();
            }
        }
    }
    .no-result{background-color: #fff;
        position: absolute;top:4.2rem;left:0;right: 0;bottom: 0;@include flex-center();
        flex-wrap: wrap;
        .no-result-tag{width: rem(350);@include flex-center();
        flex-wrap: wrap;}
        img{width:rem(310);}
        p{line-height: rem(86);font-size: rem(30);color:color($colors,light);width: 100%;text-align: center;}
        .add-clientele{margin-top: rem(82);}
    }
    .clientele-list{background-color: #fff;
        .item{
            padding-left:rem(142);
            .item-inner{
                .progress{
                    position: absolute;transform: translateX(-6rem);
                    width: rem(96);height: rem(96);
                    border-radius:50%;
                    border:1px solid color($colors,border);
                    @include flex-center();
                    .state{
                        font-size: rem(28);color:color($colors,dark);
                    }
                    div{
                        position: absolute;
                        top:-1px;
                        height: rem(96);
                        width: rem(48);
                        overflow: hidden;
                    }
                    .line{
                        top:0;
                        width: rem(96);
                        border-radius: 50%;
                        border-width: 1px;
                        border-style: solid;
                        border-color: transparent;
                        transform: rotate(-135deg);
                    }
                    .left-wrapper{
                        left:-1px;
                        .line{
                            left:0;
                            border-left-color:color($colors,primary);
                            border-bottom-color:color($colors,primary);
                            transform: rotate(45deg);
                        }
                    }
                    .right-wrapper{
                        right:-1px;
                        .line{
                            right:0;
                            border-right-color:color($colors,primary);
                            border-top-color:color($colors,primary);
                            transform: rotate(45deg);
                        }
                    }
                }
                .label{
                    margin:0;display: flex;align-items: center;
                    .name{
                        height:rem(66);display: flex;align-items: center;font-size:rem(30);margin-bottom: 0;
                        .main-tag{
                            @include round-tag('small',color($colors,primary));margin-left: 1rem;
                        }
                    }
                    .company{height:rem(28);line-height: rem(28);color:color($colors,light);@extend .fn-text-overflow;margin-bottom: 0;
                        font-size:1.2rem;
                    }
                    .tag-container{
                        min-height: rem(66);display: flex;align-items: center;flex-wrap: wrap;max-height: rem(132);
                        .tag-item{
                            @include round-tag('small');
                            margin-right: 1rem;
                        }
                    }
                }
            }
            .bar-buttons[item-end]{margin:0;
                .button[icon-only]{
                    .iconfont{
                        font-size: 2.5rem;
                    }
                    &:last-child{
                        margin-left: 1rem;
                    }
                }
            }
        }
        .item-options{
            .button{
                .button-inner{line-height:rem(36);font-size:1.6rem;}
            }
        }
        
    }
}
